body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    background-color: #97e6d1;
}
.navBox{
  height: 150px;
}
.contentbox {
  width: 100%;
  text-align: center;
}
.imgContainer {
  padding: 25px;
}
.img{
  border-radius: 10px;
}
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    z-index: 3;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topnav .logo img {
    border-radius: 100px;
  }
  .topnav button {
    display: none;
  }
  .topnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topnav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topnav a,
  .topnav button {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
  }
  .topnav button {
    border: inherit;
    background: inherit;
    cursor:pointer;
  }
  .topnav button:before {
    content: "» ";
    margin-right: 0.25em;
  }
  .topnav[data-state="open"] button:before {
    content: "x ";
  }
  .topnav a:hover,
  .topnav button:hover {
      background-color: black;
      border-radius: 100px;
  }
  .topnav a.active {
      background-color: #4CAF50;
      color: white;
  }
  .contentContainer {
      position: relative;
      top: 155px;
      margin: 0 auto;
      bottom:0;
      width: 90%;
      height: 76.5%;
      padding: 5px;
      border-color: #97E6D1;
      border-width: 5px;
      border-radius: 20px;
      border-style: solid;
      overflow-y: scroll;
      background-color: rgba(0,0,0,0.65);
  }
  .date {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
  }
  .title {
    margin: 0;
    text-align: center;
    font-size: 45px;
    color: #fff;
  }
  .ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 39px;
    background-color: orange;
  }
  .liLeft {
    float: left;
  }
  .liRight {
    float: right;
    background-color: #3096F3;
    padding: 5px;
    border-radius: 50px;
  }
  .date {
      margin: 0;
      font-size: 20px;
      color: #fff;
      font-weight: 300;
  }
  .gig {
      margin: 0;
      font-size: 25px;
      color: #fff;
      font-weight: 400;
  }
  .divider {
      width: 100%;
      height: 2px;
      border-radius: 10px;
      float: center;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #fff;
  }
  .invisiDivider {
    width: 50%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  .hero {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 1200px) {
      .topnav {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
      }
      .topnav button {
        display: inherit;
      }
      .topnav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: #87CFBC;
        border-radius: 37px;
      }
      .topnav ul li {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
      }
      .topnav[data-state="closed"] ul {
        display: none;
      }
      
      .img{
          border-radius: 10px;
          width: 95%;
        }
  }
  
